<header class='flex flex-col items-center justify-center gap-4 p-10'>
  <p class='text-xl font-light md:text-4xl'>
    Tailwind CSS OKCLH color scale <code class='bg-neutral-500/40 px-0.5 py-px text-base opacity-50'
      >(50 - 950)</code
    > generator
  </p>
  <p class='text-lg text-neutral-500 opacity-50 md:text-2xl'>
    Generate perceptually uniform color scales for your design system
  </p>
</header>
