---
import Link from '~/components/ui/Link.astro'
import Github from '~/assets/github.svg'
import Twitter from '~/assets/x.svg'
---

<nav class='flex h-24 items-center justify-between border-b border-neutral-300/20 px-8'>
  <h1 class='flex h-full items-center text-3xl uppercase'>okl chroma</h1>
  <ul class='flex h-full items-center justify-center'>
    <li class='mx-4 inline-block'>
      <Link to='https://github.com/OctaEDLP00/TailwindCSSOklchGenerator'>
        <Github class='size-7' />
      </Link>
    </li>
    <li class='mx-4 inline-flex items-center'>
      <Link to='https://x.com/CaroOcta00/'>
        <Twitter />
      </Link>
    </li>
  </ul>
</nav>
